<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
    {% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ users.profile_pic.url }}" alt="User profile picture" class="profile-pic">
            <h2 class="profile-name">{{users.firstname}} {{users.lastname}}</h2>
            
        </div>
    <div class="info-container">
        <div class="info-group">
            <label for="id_email">Email:</label>
            {{ users.username }}
        </div>
        <div class="info-group">
            <label for="id_phone_number">Phone Number:</label>
            {{ users.phone_number }}

        </div>
        <div class="info-group">
            <label for="id_address">Address</label>
            {{ users.address }}
        </div>
    </div>
    <div class="header-buttons">
    <a class="btn apply-btn" href="{% url 'profile:update_profile' %}"><button class="btn-a">Edit Profile</button></a>
    </div>
    {% endblock content %}
