body, html {
    scroll-behavior: smooth;
    height: 100%;            
    margin: 0;                  
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 5px rgb(0, 0, 0);
    height: 100px;
}

header img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

header a {
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    color: rgb(6, 6, 6);
    border-bottom-color: transparent;
}

ul a:hover {
    color: #72614f;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #72614f;
    transition: all 0.3s ease;
}

.profile-container a:hover {
    color: #6c543b;
    transition: all 0.3s ease;
}

header li {
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
}

.header-buttons {
    display: flex;
    gap: 15px; /* Increased spacing between buttons */
}

.btn {
    background-color: #6c543b;
    color: white;
    padding: 15px 30px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px; /* Make button text larger */
    transition: background-color 0.3s;
}

.user-profile {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.img-pfp {
    clip-path: circle();
    display: block;
    width: 100px; /* Adjust the size to a more reasonable value */
    max-width: 100px;
    height: 100px;
    max-height: 100px;
}

.header-pfp {
    clip-path: circle();
    display: block;
    width: 50px; /* Adjust the size to a more reasonable value */
    max-width: 50px;
    margin-right: 10px;
}


.centerpoint {
    display: flex;
    justify-content: center;
    width: 100%;
}

.payment_form {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #c9c4bd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

.payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.payment div {
    flex: 1;
}

.msg-container{
    padding: 10px 20px 0px 20px;
    gap: 20px;
    text-align: justify;
    width: 100%;
    max-width: 95%;
}

form ul li{
    font-size: 12px;
    line-height: 2;
    padding-bottom: 20px;
}

select {
    margin-top: 3px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.button-wrapper {
    align-items: flex-end;
}


.confirm-btn {
    width: 25%;
    padding: 15px;
    background-color: #8b724e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}











