body, html {
    scroll-behavior: smooth;
    height: 100%;            
    margin: 0;                  
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    height: 100%; /* Full viewport height */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/sortingroom/hotel-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1; /* Adjust opacity here */
    z-index: -1; /* Make sure it stays behind the content */
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0px 1px rgb(0, 0, 0);
    height: 100px;
}

header img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

header a {
    font-size: 15px;
    padding: 15px;
    text-decoration: none;
    color: rgb(6, 6, 6);
    border-bottom-color: transparent;
}

ul a:hover {
    color: #72614f;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    border-bottom-color: #72614f;
    transition: all 0.3s ease;
}

.profile-container a:hover {
    color: #6c543b;
    transition: all 0.3s ease;
}

header li {
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
}

.header-buttons {
    display: flex;
    gap: 15px; /* Increased spacing between buttons */
}

.btn {
    background-color: #6c543b;
    color: white;
    padding: 15px 30px; /* Increased padding for larger buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px; /* Make button text larger */
    transition: background-color 0.3s;
}

.user-profile {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.img-pfp {
    clip-path: circle();
    display: block;
    width: 100px; /* Adjust the size to a more reasonable value */
    max-width: 100px;
    height: 100px;
    max-height: 100px;
}

.header-pfp {
    clip-path: circle();
    display: block;
    width: 50px; /* Adjust the size to a more reasonable value */
    max-width: 50px;
    margin-right: 10px;
}

.centerpoint {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
    width: 100%;
}

.info_form {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #c9c4bd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form{
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
}

.form h2{
    margin-top: 20px;
}

.room-info {
    max-width: 80%;
    background-color: white;
    border-radius: 40px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    margin: 0px 12% 0px 12%;
    margin-bottom: 30px;

}

.details{
    line-height: 1.5;
    font-size: 16px;
    padding: 0px 0px 0px 15px;
}

.room-info img{
    max-width: 130px;
    height: auto;
    border-radius: 20px;
}

form button{
    width: 20%;
}

.info {
    display: flex;
    flex-direction: column;
}

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.two-column div {
    flex: 1;
}

input, select, textarea {
    margin-top: 3px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.button-wrapper {
    align-items: flex-end;
}

.next-btn {
    width: 25%;
    padding: 15px;
    background-color: #8b724e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.use-account-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
}

.use-account-info input{
    max-width: 30px;
    height: 20px;
    margin: 0;
}











