<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <header>
        <a href="{% url 'account:homepage' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{% url 'account:homepage' %}">HOME</a></li>
                <li><a href="{% url 'account:login' %}">RESERVATIONS</a></li>
                <li><a href="{% url 'account:login' %}">ROOMS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="{% url 'account:login' %}">
                <button class="btn book-btn">Login</button>
            </a>
            <a href="{% url 'account:signup' %}">
                <button class="btn book-btn">Register</button>
            </a>
        </div>
    </header>
</head>
<body syle="background-image: url('{% static 'images/logo' %}');">
    {% block content %}
    {% endblock %}
</body>
</html>
