{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Reservation</title>
    <link rel="stylesheet" href="{% static 'sortingroom/payment.css' %}">
    <script src="{% static 'sortingroom/room_list.js' %}" defer></script>
</head>
<body>
    <header>
        <img src="{% static 'sortingroom/hotellogo.png' %}" alt="Logo">
        <nav>
            <ul>
                <li><a href="{% url 'profile:home' users.pk %}">HOME</a></li>
                <li><a href="#explore">EXPLORE</a></li>
                <li><a href="#rooms">ROOMS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
            <div class = "profile-container">
                <a href="{% url 'profile:user_profile' users.pk %}" class="user-profile">
                    <img class="header-pfp" src="{{users.profile_pic.url}}" alt="user pfp" />
                    <strong>{{users.firstname}} {{users.lastname}}</strong>
                </a>
            </div>
    </header>


    <div class="centerpoint">
        <div class="payment_form">
            <form method="POST">
                <h2>How do you want to pay?</h2><br>
                {% csrf_token %}

                <div class="payment">
                    <div>
                        <label for="payment-method">Payment Method</label>
                        <select id="payment-method" name="payment-method" required onchange="updatePaymentMessage('{{ total_cost }}')">
                            <option value="" disabled selected>Select Payment Method</option>
                            <option value="GCASH">Gcash</option>
                            <option value="PAYMAYA">Paymaya</option>
                            <option value="PAYPAL">Paypal</option>
                        </select>
                    </div>
                </div>
                <div class="msg-container">
                    <ul id="payment-messages" style="display: none">
                        <li id="payment-message1"></li>
                        <li id="payment-message2"></li>
                    </ul>
                </div>  
                <div class="button-wrapper">
                    <button type="submit" class="confirm-btn">Confirm ></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
