{% extends "reserve_room_base.html" %}
{% load static %}
{% block content %}
<div class="centerpoint">
    <div class="info_form">
        <div class="room-info">
            <div class="img-container">
                <img src="{{ room.room_category.room_photo.url | default:'sortingroom/static/wifi.png' }}" alt="Room Photo">
            </div>
            <div class="details">
                <h3>Reserved Room: {{ room.room_category.category_id }}</h3>
                <p><strong>Price:</strong> ₱{{ room.room_category.room_price }} per night</p>
            </div>
        </div>
        
        <form id="reservationForm" method="POST" action="{% url 'sortingroom:reserve_room' room.room_category.id %}">
            {% csrf_token %}
            <h2>Enter your details</h2>
        
            <div class="use-account-info">
                <input type="checkbox" id="use_info_checkbox">
                <label for="use_info_checkbox">Use my information</label>
            </div>
        
            <div class="two-column">
                <div>
                    <label for="first_name">First Name</label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="last_name">Last Name</label>
                    {{ form.last_name }}
                </div>
            </div>
        
            <div class="two-column">
                <div>
                    <label for="email">Email Address</label>
                    {{ form.email }}
                </div>
                <div>
                    <label for="country">Country/Region</label>
                    {{ form.country }}
                </div>
            </div>
        
            <div>
                <label for="phone_number">Phone Number</label>
                {{ form.phone }}
            </div>
        
            <div class="two-column">
                <div>
                    <label for="check_in">Check-in Date</label>
                    {{ form.check_in }}
                </div>
                <div>
                    <label for="check_out">Check-out Date</label>
                    {{ form.check_out }}
                </div>
            </div>
        
            <div>
                <label for="special_request">Special Request</label>
                {{ form.special_request }}
            </div>
        
            <div class="button-wrapper">
                <button type="submit" class="next-btn">Next Step ></button>
            </div>
        </form>            
        
    </div>
</div>
{% endblock content %}
