{% extends 'base/nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}Login{% endblock %}
</head>
<body>
{% block content %}
<div class="login-container">
    <div class="login-form">
        <h2>Login</h2>
        <div>
            <form method="POST" >
                {% csrf_token %}
                <br>
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign In</button>
                {% if messages %}
                    <p style="color: red;">{% for message in messages %}{{ message }}{% endfor %}</p>
                {% endif %}
            </form>
        </div>

       <p>Don't have an account? <a href="{% url 'account:signup' %}">Sign up</a></p>  
    </div>
</div>
{% endblock %}
</body>
</html>
