{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Landing</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <header>
        <h1>Welcome Admin #{{ admin_id }}</h1>
        <ul>
            <li><a href="{% url 'dashboard:admin_landing' %}">Home</a></li>
            <li><a href="{% url 'dashboard:add_or_modify_category' %}">Categories</a></li>
            <li><a href="{% url 'dashboard:add_or_modify_room' %}">Rooms</a></li>
            <li><a href="{% url 'dashboard:admin_logout' %}">Logout</a></li>
        </ul>
    </header>

    <div class="container">
        <a href="{% url 'dashboard:add_or_modify_room' %}">
            <div class="card-container">
                <div class="card">
                    <br><br>
                    <h2>Modify/Add Room</h2>
                    <br><br>
                    <p>Click here to add or modify room details.</p>
                    <br><br><br><br>
                    <button>Room</button>
                </div>
            </div>
        </a>

        <a href="{% url 'dashboard:add_or_modify_category' %}">
            <div class="card-container">
                <div class="card">
                    <br><br>
                    <h2>Modify/Add Category</h2>
                    <br><br>
                    <p>Click here to add or modify categories.</p>
                    <br><br><br><br>
                    <button>Category</button>
                </div>
            </div>
        </a>
    </div>

    <h2>Available Rooms</h2>
    <div class="container">
        {% for room in rooms_available %}
        <div class="card-container">
            {% if room.room_category.room_photo %}
            <img src="{{ room.room_category.room_photo.url }}" alt="Room Photo" class="room-photo">
        {% else %}
            <img src="{% static 'dashboard/images/default-room.jpg' %}" alt="Default Room Photo" class="room-photo">
        {% endif %}
            <h2>{{ room.room_id }}</h2>
            <p>Price: ${{ room.room_category.room_price }}</p>
            <p>Available Room: {{ room.is_available }}</p>
            <a href="{% url 'dashboard:room_detail' room.id %}">
                <button>Modify Room</button>
            </a>
        </div>
        {% empty %}
            <p>No available rooms at the moment.</p>
        {% endfor %}
    </div>

    <h2>Booked Rooms</h2>
    <div class="container">
        {% for room in rooms_booked %}
        <div class="card-container">
            {% if room.room_category.room_photo %}
            <img src="{{ room.room_category.room_photo.url }}" alt="Room Photo" class="room-photo">
        {% else %}
            <img src="{% static 'dashboard/images/default-room.jpg' %}" alt="Default Room Photo" class="room-photo">
        {% endif %}
            <h2>{{ room.room_id }}</h2>
            <p>Price: ${{ room.room_category.room_price }}</p>
            <p>Available Room: {{ room.is_available }}</p>
            <a href="{% url 'dashboard:room_detail' room.id %}">
                <button>Modify Room</button>
            </a>
        </div>
        {% empty %}
            <p>No booked rooms at the moment.</p>
        {% endfor %}
    </div>
</body>
</html>
