{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Rooms</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/css.css' %}">
</head>
<body>
    <header>
        <h1>Modify Rooms</h1>
    </header>

    <div class="container">
        {% for room in rooms %}
        <div class="card-container">
            <img src="{{ room.room_photo.url }}" alt="Room Photo" class="room-photo">
            <h2>{{ room.room_type.name }}</h2>
            <p>Price: ${{ room.room_price }}</p>
            <p>Available Room: {{ room.rooms_available }}</p>
            <a href="{% url 'dashboard:room_detail' room.id %}">
                <button>Modify Room</button>
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
