{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/css.css' %}">
</head>
<body>
    <header>
        <h1>Modify Room: {{ room.room_id }}</h1>
    </header>

    <div class="room-details">
        <div class="room-card">
            <img src="{{ room.room_photo.url }}" alt="{{ room.room_type }}" class="room-photo">
            <form id="update-room-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</body>
</html>
