{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Details</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <header>
        <h1>Modify Room: {{ room.room_id }}</h1>
        <ul>
            <li><a href="{% url 'dashboard:admin_landing' %}">Home</a></li>
            <li><a href="{% url 'dashboard:add_or_modify_category' %}">Categories</a></li>
            <li><a href="{% url 'dashboard:add_or_modify_room' %}">Rooms</a></li>
            <li><a href="{% url 'dashboard:admin_logout' %}">Logout</a></li>
        </ul>
    </header>

    <div class="container">
        <div class="room-card-container">
            {% if room.room_category.room_photo %}
            <img src="{{ room.room_category.room_photo.url }}" alt="Room Photo" class="room-photo">
        {% else %}
            <img src="{% static 'dashboard/images/default-room.jpg' %}" alt="Default Room Photo" class="room-photo">
        {% endif %}
            <form id="update-room-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
</body>
</html>
