{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link rel="stylesheet" href="{% static 'sortingroom/about.css' %}">
    <script src="{% static 'sortingroom/room_list.js' %}" defer></script>
</head>
<body>
    <header>
        <a href="{% url 'sortingroom:room_category' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
        <nav>
            <ul>
                <li><a href="{% url 'sortingroom:room_category' %}">HOME</a></li>
                <li><a href="{% url 'profile:reservations' %}">RESERVATIONS</a></li>
                <li><a href="{% url 'sortingroom:room_category' %}">ROOMS</a></li>
                <li><a href="{% url 'sortingroom:about' %}">ABOUT</a></li>
                <li><a href="{% url 'sortingroom:about' %}#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="{% url 'profile:user_profile' %}" class="user-profile"><img class="header-pfp" src="{{request.session.profile_pic}}" alt="user pfp" /> <strong>{{request.session.firstname}} {{request.session.lastname}}</strong></a>
            <a href="{% url 'profile:logout' %}">
                <button class="btn book-btn">Logout</button>
            </a>
        </div>
    </header>
    <main>
    {% block content %}

    {% endblock content %}
    </main>
</body>
</html>