<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sample_style.css' %}">
    <title>Sample</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#explore">EXPLORE</a></li>
                <li><a href="#rooms">ROOMS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <button class="btn">Login</button>
            <button class="btn book-btn">Book Now</button>
        </div>
    </header>
</body>
</html>