<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sample_style.css' %}">
    <title>Update User</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#explore">EXPLORE</a></li>
                <li><a href="#rooms">ROOMS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="{% url 'profile:user_profile' users.pk %}" class="user-profile"><img class="header-pfp" src="{{users.profile_pic.url}}" alt="user pfp" /> <strong>{{users.name}}</strong></a>
            <button class="btn book-btn">Book Now</button>
        </div>
    </header>
    <div class="centered-text-profile">
    <h1>Update Profile</h1>
    <form method="POST" class="form-update" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="header-buttons">
            <button class="btn" type="submit">Save</button>
            <a href="{% url 'profile:user_profile' users.pk %}"><button class="btn">Back to Profile</button></a>
         </div>
    </form>
    
    <div/>
</body>
</html>
