<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile_style.css' %}">
    <title>User Profile</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'profile:home' users.pk %}">HOME</a></li>
                <li><a href="#explore">EXPLORE</a></li>
                <li><a href="{% url 'sortingroom:room_category' %}">ROOMS</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            <a href="{% url 'profile:user_profile' users.pk %}" class="user-profile"><img class="header-pfp" src="{{users.profile_pic.url}}" alt="user pfp" /> <strong>{{users.name}}</strong></a>
            <button class="btn book-btn">Book Now</button>
        </div>
    </header>
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ users.profile_pic.url }}" alt="User profile picture" class="profile-pic">
            <h2 class="profile-name">{{users.firstname}} {{users.lastname}}</h2>
            
        </div>
    <div class="info-container">
        <div class="info-group">
            <label for="id_email">Email:</label>
            {{ users.username }}
        </div>
        <div class="info-group">
            <label for="id_phone_number">Phone Number:</label>
            {{ users.phone_number }}

        </div>
        <div class="info-group">
            <label for="id_address">Address</label>
            {{ users.address }}
        </div>
    </div>
    <a class="btn apply-btn" href="{% url 'profile:update_profile' users.pk %}"><button class="btn-a">Edit Profile</button></a>
</body>
</html>
